.git
.gitignore
.gitattributes
.editorconfig
.npmrc
.agents
.github
.env
.env.*
*.md
AGENTS.md
README.md
LICENSE
node_modules
vendor
tests
phpunit.xml
phpstan.neon
pint.json
storage/logs
storage/framework/cache/data
storage/framework/sessions
storage/framework/testing
storage/framework/views
storage/pail
storage/debugbar
Homestead.json
Homestead.yaml
auth.json
.dart_tool
.fleet
.idea
.nova
.vscode
.zed
.phpunit.cache
.phpunit.result.cache
.phpactor.json
npm-debug.log
yarn-error.log
opencode.json
boost.json
